.success-snackbar {

    --mdc-snackbar-container-color: #22c55e !important;

    --mdc-snackbar-supporting-text-color: white !important;

}

.error-snackbar {

    --mdc-snackbar-container-color: #ef4444 !important;

    --mdc-snackbar-supporting-text-color: white !important;

}