<div class="password-box">

    <h2>Change Password</h2>

    <!-- Current Password -->
    <div class="password-field">

        <input
            [type]="hideCurrentPassword ? 'password' : 'text'"
            placeholder="Current Password"
            [(ngModel)]="currentPassword">

        <button
            type="button"
            class="eye-btn"
            (click)="hideCurrentPassword = !hideCurrentPassword">

            <mat-icon>
                {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
            </mat-icon>

        </button>

    </div>


    <!-- New Password -->
    <div class="password-field">

        <input
            [type]="hideNewPassword ? 'password' : 'text'"
            placeholder="New Password"
            [(ngModel)]="newPassword">

        <button
            type="button"
            class="eye-btn"
            (click)="hideNewPassword = !hideNewPassword">

            <mat-icon>
                {{hideNewPassword ? 'visibility' : 'visibility_off'}}
            </mat-icon>

        </button>

    </div>


    <!-- Confirm Password -->
    <div class="password-field">

        <input
            [type]="hideConfirmPassword ? 'password' : 'text'"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword">

        <button
            type="button"
            class="eye-btn"
            (click)="hideConfirmPassword = !hideConfirmPassword">

            <mat-icon>
                {{hideConfirmPassword ? 'visibility' : 'visibility_off'}}
            </mat-icon>

        </button>

    </div>

    <button
        class="update-btn"
        (click)="updatePassword()">

        Update Password

    </button>

</div>