@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
.mat-mdc-snack-bar-container, .success-snackbar, .error-snackbar{
    margin-top: 80px !important;
    z-index: 10000 !important;
    background: #d6dfd6;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
}
/* =========================================================
   CONSISTENT PAGE SPACING
   Same margin from sidebar on all pages
========================================================= */

.content {
    padding: 20px;
    box-sizing: border-box;
}

/* Keep the same spacing when sidebar is collapsed */
.content.collapsed {
    padding: 20px;
    box-sizing: border-box;
}