

<div class="dashboard-container">


    <!-- Welcome Section -->
    <!-- <div class="welcome-section">
        <h1>Welcome Back, {{username}} </h1>
        <p>Manage your employees efficiently and securely.</p>
    </div> -->
    <div class="dashboard-header">
    <h2> Admin Dashboard</h2>
</div>

    <!-- Dashboard Cards -->
    <div class="cards">
      <div class="top-cards">
        <div class="dashboard-card large-card" (click)="openCard('totalPendingRequests')">
            <div class="card-header">
                <mat-icon>pending_actions</mat-icon>
            </div>
            <h2>{{totalPendingRequests ||0}}</h2>
            <p>Pending Requests</p>
        </div>

        <!-- Total Employees -->
         
        <div class="dashboard-card large-card" (click)="openCard('employees')">
            <div class="card-header">
                <mat-icon>groups</mat-icon>
            </div>
            <h2>{{totalEmployees}}</h2>
            <p>Total Employees</p>
        </div>
        <div class="dashboard-card large-card" (click)="openCard('departments')">
            <div class="card-header">
                <mat-icon>apartment</mat-icon>
            </div>
            <h2>{{totalDepartments}}</h2>
            <p>Departments</p>
        </div>

        </div>

        <!-- Total Admins
        <div class="dashboard-card" (click)="openCard('admins')">

            <div class="card-header">
                <mat-icon>admin_panel_settings</mat-icon>
            </div>

            <h2>{{totalAdmins}}</h2>

            <p>Total Admins</p>

        </div> -->

        <!-- Total HR
        <div class="dashboard-card" (click)="openCard('hr')">

            <div class="card-header">
                <mat-icon>badge</mat-icon>
            </div>

            <h2>{{totalHR}}</h2>

            <p>Total HR</p>

        </div> -->

        <!-- Departments -->
     <!--<div class="mini-cards"> -->
        
        <!-- First Login Pending -->
        <!-- <div class="mini-card" (click)="openCard('firstLogin')">

            <div class="mini-icon">
                <mat-icon>lock_reset</mat-icon>
            </div>
            <div class="mini-content">

            <h2>{{firstLoginPending}}</h2>

            <p>First Login Pending</p>
            </div>

        </div> -->

        <!-- Total Roles -->
        <!-- <div class="mini-card" (click)="openCard('roles')">

            <div class="mini-icon">
                <mat-icon>assignment</mat-icon>
            </div>

            <h2>{{totalRoles}}</h2>

            <p>Total Roles</p>

        </div> -->
     <!--</div> -->

    </div>

</div>

<!-- Popup -->

<div class="popup" *ngIf="showPopup">

    <div class="popup-content">

        <h2>{{popupTitle}}</h2>

        <hr>

        <ul>

            <li *ngFor="let item of popupData">

                {{item}}

            </li>

        </ul>

        <button class="close-btn" (click)="closePopup()">

            Close

        </button>

    </div>

</div>
<div class="recent-section">
     <div class="recent-header">

    <h2>Recently Added Employees</h2>
    <button
            class="view-all-btn"
            (click)="viewAllEmployees()">

            View All →

        </button>
    </div>

    <div class="table-wrapper">

    <table class="recent-table">

        <thead>

            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Joining Date</th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let emp of recentEmployees">

                <td>{{ emp.name }}</td>

                <td>{{ emp.department }}</td>

                <td>{{ emp.designation }}</td>

                <td>{{ emp.joiningDate | date:'dd MMM yyyy' }}</td>

            </tr>

        </tbody>

    </table>
    </div>

</div>
